body{background-color:#04d0e2}
li{list-style:none}    
.box{display:block}

ul{font-family:Arial, Helvetica, sans-serif;
    border:2px solid black;
    margin:1;
    padding-left: 0;
}
.name{font-family:arial, helvetica, sans-serif;}
