
        <h1 class="name">Romeo's To Do's</h1>
        <ul>
            <li>
                <input type="checkbox">
                <a href="/todo/show/1">Finish Homework in 2 pomodoros</a>
            </li>
            <li>
                <input type="checkbox">
                <a href="/todo/show/2">Finish English Essay in 4 pomodoros</a>
            </li>
            <li>
                <input type="checkbox">
                <a href="/todo/show/3">Finish Dinner in 3 pomodoros</a>
            </li>
        </ul>
        <div id="new-todo-block">
            <input id="new-todo-description" type="text" class="box" placeholder="Description">
            <input id="new-pomodoro-estimate" type="numbers" class="box" placeholder="Amount Of Pomodoros">
            <input id="add-new-todo-button" type="submit">
        