<html> 
    <head>
        <title>To Do's</title>
        <link rel="stylesheet" href="index.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         <script src="index.js"></script>
    </head>
    <body>
        <h1 class="name">Romeo's To Do's</h1>
        <ul>
            <li>
                <input type="checkbox">
                <a href="show.html">Finish Homework in 2 pomodoros</a>
            </li>
            <li>
                <input type="checkbox">
                <a href="show2.html">Finish English Essay in 4 pomodoros</a>
            </li>
            <li>
                <input type="checkbox">
                <a href="show3.html">Finish Dinner in 3 pomodoros</a>
            </li>
        </ul>
        <div id="new-todo-block">
            <input id="new-todo-description" type="text" class="box" placeholder="Description">
            <input id="new-pomodoro-estimate" type="numbers" class="box" placeholder="Amount Of Pomodoros">
            <input id="add-new-todo-button" type="submit">
        </div>
    </body>
</html>
