<div>
    
    <h1 class="name"><%= @todo_description %></h1>
    <span><%= @pomodoro_estimate%></span>
    
        <ul>
            <li><%= @todo_description %></li>
            <li><%= @todo_description %></li>
        </ul>
        <a 
        href="/todo/index">
        go back
    </a>
</div>